<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <title>RoalRanking</title>
</head>

<body>
    <!--header area start-->
    <header class="header m-2 p-2 border-bottom">
        <div class="main_header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 justify-content-center">
                        <h3 class="text-black-50 text-uppercase m-0">RoalRanking</h3>
                    </div>
                    <div class="col-md-5 ms-auto">
                        <form id="queryForm" class="d-flex" action="/search" method="GET">
                            <input class="form-control me-2" type="text" name="query" id="filter" placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary" type="submit">
                              <i class="fa fa-search"></i>
                            </button>
                          </form>
                          
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header area end-->

    <!--carousel area start-->
    <div class="container">
        <div class="row rounded mt-5">
            <h4 class="text-black text-uppercase m-0 ps-3">Recommended Crypto</h4>
            <div id="recommended-carousel" class="carousel carousel-dark slide p-0" data-bs-ride="carousel">
                <ol class="carousel-indicators m-0">
                    <li data-bs-target="#recommended-carousel" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1"></li>
                    <li data-bs-target="#recommended-carousel" data-bs-slide-to="1" aria-label="Slide 2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div id="firstRowCarousel" class="d-flex pb-4">
                            <div class="card col-xl-4 flex-fill rounded shadow-sm m-3">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                            <div class="card col-xl-4 flex-fill rounded shadow-sm m-3">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                            <div class="card col-xl-4 flex-fill rounded shadow-sm m-3">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div id="secondRowCarousel" class="d-flex pb-4">
                            <div class="card col-xl-4 flex-fill rounded shadow-sm m-3">
                                
                            </div>
                            <div class="card col-xl-4 flex-fill rounded shadow-sm m-3">
                                
                            </div>
                            <div class="card col-xl-4 flex-fill rounded shadow-sm m-3">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--carousel area end-->

    <!-- crypto area start-->
    <div class="container mt-5">
        <div class="row p-2">
            <!--table area start-->
            <div class="col-lg-12 col-md-12">
                <div class="ml-0 mr-0 mb-2 mt-2 border-bottom">
                    <div id="table-buttons" class="btn d-flex flex-row-reverse p-0 mb-2">
                        <button class="btn text-right btn-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-filter"> </i> Filter
                        </button>
                        <h6 id="queryPrinter" class="d-flex flex-column justify-content-center me-2 mb-0">
                            <% if (query && query.length > 0) { %>
                              <small class="text-muted">Results got from query: <%= query %></small>
                            <% } else { %>
                              <small class="text-muted">! Got no query !</small>
                            <% } %>
                          </h6>
                    </div>
                    <div class="collapse mt-3 mb-3" id="collapseExample">
                        <div class="btn-group d-flex" role="group" aria-label="Button group">
                            <!-- MARKET CAP FILTER AND MODAL area start-->
                            <div class="btn-group flex-fill m-1" role="group">
                                <button type="button" class="btn btn-outline-secondary rounded-pill"
                                    data-bs-toggle="modal" data-bs-target="#marketCapModal">
                                    Market Cap
                                </button>
                            </div>
                            <div class="modal fade" id="marketCapModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Insert maket cap values to filter elements</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="inputMin" class="form-label">Min</label>
                                                <input type="number" class="form-control" id="inputMarketCapMin" aria-describedby="minMarketCap">
                                            </div>
                                            <div class="mb-4">
                                                <label for="inputMax" class="form-label">Max</label>
                                                <input type="number" class="form-control" id="inputMarketCapMax" aria-describedby="maxMarketCap">
                                            </div>
                                            <div class="mb-3">
                                                <label for="automaticValues" class="form-label">Recommended range</label>
                                                <div class="btn-group d-flex flex-wrap">
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="0-1000000-marketcap">0 - 1M</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="1000000-10000000-marketcap">1M - 10M</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="10000000-100000000-marketcap">10M - 100M</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="100000000-1000000000-marketcap">100M - 1B</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="1000000000-10000000000-marketcap">1B - 10B</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="10000000000-100000000000-marketcap">10B - 100B</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" id="saveMarketCapValue" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- PRICE FILTER AND MODAL area start-->
                            <div class="btn-group flex-fill m-1" role="group">
                                <button type="button" class="btn btn-outline-secondary rounded-pill"
                                    data-bs-toggle="modal" data-bs-target="#priceModal">
                                    Price
                                </button>
                            </div>
                            <div class="modal fade" id="priceModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Insert price values to filter elements</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="inputMin" class="form-label">Min</label>
                                                <input type="number" class="form-control" id="inputPriceMin" aria-describedby="minPrice">
                                            </div>
                                            <div class="mb-4">
                                                <label for="inputMax" class="form-label">Max</label>
                                                <input type="number" class="form-control" id="inputPriceMax" aria-describedby="maxPrice">
                                            </div>
                                            <div class="mb-3">
                                                <label for="automaticValues" class="form-label">Recommended range</label>
                                                <div class="btn-group d-flex flex-wrap">
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="0-1-price">0 - 1</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="1-100-price">1 - 100</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="101-1000-price">101 - 1.000</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="1000-3000-price">1.000 - 3.000</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="3001-5000-price">3.001 - 5.000</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="5001-10000-price">5.001 - 10.000</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" id="savePriceValue" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 1H % CHANGE FILTER AND MODAL area start-->
                            <div class="btn-group flex-fill m-1" role="group">
                                <button type="button" class="btn btn-outline-secondary rounded-pill"
                                    data-bs-toggle="modal" data-bs-target="#onehModal">
                                    1h % Change
                                </button>
                            </div>
                            <div class="modal fade" id="onehModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Insert 1h % Change values to filter elements</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="inputMin" class="form-label">Min</label>
                                                <input type="number" class="form-control" id="input1hMin" aria-describedby="min1h">
                                            </div>
                                            <div class="mb-4">
                                                <label for="inputMax" class="form-label">Max</label>
                                                <input type="number" class="form-control" id="input1hMax" aria-describedby="max1h">
                                            </div>
                                            <div class="mb-3">
                                                <label for="automaticValues" class="form-label">Recommended range</label>
                                                <div class="btn-group d-flex flex-wrap">
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="50-100-1h">+50% to 100%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="10-50-1h">+10% to 50%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="0-10-1h">0% to 10%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n10-0-1h">-10% to 0%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n50-n10-1h">-50% to 10%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n100-n50-1h">-100% to -50%</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" id="save1hValue" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 24H % CHANGE FILTER AND MODAL area start-->
                            <div class="btn-group flex-fill m-1" role="group">
                                <button type="button" class="btn btn-outline-secondary rounded-pill"
                                    data-bs-toggle="modal" data-bs-target="#onedModal">
                                    24h % Change
                                </button>
                            </div>
                            <div class="modal fade" id="onedModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Insert 24h % Change values to filter elements</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="inputMin" class="form-label">Min</label>
                                                <input type="number" class="form-control" id="input24hMin" aria-describedby="min24h">
                                            </div>
                                            <div class="mb-4">
                                                <label for="inputMax" class="form-label">Max</label>
                                                <input type="number" class="form-control" id="input24hMax" aria-describedby="max24h">
                                            </div>
                                            <div class="mb-3">
                                                <label for="automaticValues" class="form-label">Recommended range</label>
                                                <div class="btn-group d-flex flex-wrap">
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="50-100-24h">+50% to 100%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="10-50-24h">+10% to 50%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="0-10-24h">0% to 10%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n10-0-24h">-10% to 0%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n50-n10-24h">-50% to 10%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n100-n50-24h">-100% to -50%</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" id="save24hValue" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 7D % CHANGE FILTER AND MODAL area start-->
                            <div class="btn-group flex-fill m-1" role="group">
                                <button type="button" class="btn btn-outline-secondary rounded-pill"
                                    data-bs-toggle="modal" data-bs-target="#onewModal">
                                    7d % Change
                                </button>
                            </div>
                            <div class="modal fade" id="onewModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Insert 7d % Change values to filter elements</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="inputMin" class="form-label">Min</label>
                                                <input type="number" class="form-control" id="input7dMin" aria-describedby="min7d">
                                            </div>
                                            <div class="mb-4">
                                                <label for="inputMax" class="form-label">Max</label>
                                                <input type="number" class="form-control" id="input7dMax" aria-describedby="max7d">
                                            </div>
                                            <div class="mb-3">
                                                <label for="automaticValues" class="form-label">Recommended range</label>
                                                <div class="btn-group d-flex flex-wrap">
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="50-100-7d">+50% to 100%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="10-50-7d">+10% to 50%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="0-10-7d">0% to 10%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n10-0-7d">-10% to 0%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n50-n10-7d">-50% to 10%</button>
                                                    <button type="button" id="recommend-button" class="btn btn-light mx-4 mb-3" value="n100-n50-7d">-100% to -50%</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" id="save7dValue" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->

                    </div>
                </div>
                <table class="table text-center" aria-describedby="coinsTable">
                    <thead>
                        <tr class="text-muted">
                            <th>Source</th>
                            <th>Name</th>
                            <th>Logo</th>
                            <th>Symbol</th>
                            <th>1h %</th>
                            <th>24h %</th>
                            <th>7d %</th>
                            <th>Price</th>
                            <th>Market Cap</th>
                            <th>User Relevance</th>
                        </tr>
                    </thead>
                    <tbody id="data">

                    </tbody>
                </table>
            </div>
            <!--table area end-->
        </div>
    </div>
    <!-- crypto area end-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
        </script>
    <script src="app.js"></script>
</body>

</html>